{% extends 'aff_site/base.html' %}
{% load static %}
{% block body_block %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/aff_site.css' %}" type="text/css">
<div class="myleftcolumn">
    <p><a href = "{% url 'aff_site:home' %}">Home</a></p>

    <p><a href = "{%url 'aff_site:overview' %}">AFF Overview</a></p>

    <p><a href = "{%url 'aff_site:overview' %}">Upcoming Events</a></p>

    <p><a href = "{%url 'aff_site:overview' %}">Details</a></p>

</div>

<div class="myrightcolumn" style = "height: 580px;">
    <h3>Register for this event:</h3>
    <small id="textrequired" class="form-text text-muted">
      <span>*</span> indicates required field
    </small>
    <form method = "post">
        {% csrf_token %} <!--secure forms data with cross site request forgery -->
    <div class="form-row">
        <div class="col-md-4">
            <label for="name">Name</label>
            <input type="text" class="form-control form-control-sm" id="fname" placeholder="First" required>
        </div>
        <div class="col-md-4">
            <label for="name"><br> </label>
            <input type="text" class="form-control form-control-sm" id="lname" placeholder="Last*" required>
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-md-8">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="Line 1*" required>
        </div>
    </div>

    <p></p>

    <div class = "form-row">
        <div class="form-group col-md-8">
            <input type="text" class="form-control form-control-sm" id="inputAddress2" placeholder="Line 2">
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm" id="inputCity" placeholder="City*" required>
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm" id="inputState" placeholder="State*" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm" id="inputZip" placeholder="Zip Code*" required>
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm" id="inputcountry" placeholder="Country*" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="email" class="form-control form-control-sm" id="inputemail" placeholder="Email*" required>
        </div>
        <div class="form-group col-md-4">
            <input type="number" class="form-control form-control-sm" id="inputphonenum" placeholder="Phone Number*" required>
        </div>
    </div>

    <div class="form-group col-md-8">
        <label for="Textarea"><b>Any comments</b></label>
        <textarea class="form-control form-control-sm" id="textarea"></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
<br>

<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>All Forecasts Financial</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/aff_site.css' %}" type="text/css">
        <!-<link rel="stylesheet" href="aff_site.css">->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>


    <div class="main-banner">
        <h1><em>AFF -Enterprise Risk Analytics Event</em></h1>

    </div>

    <br>
    <div class="container">
    <!- use a tags and css styling for buttons. insert hyperlinks for hrefs ->
    <a href="" class="button">Activities</a>
    <a href="" class="button">Future Events</a>
    <a href="" class="button">Details</a>

    <br>
    <br>

    <!-insert links into href ->
    <div class="myleftcolumn" style = "height: 580px;">
        <p><a href = "{% url 'aff_site:home' %}">Home</a></p>


        <p><a href = "{% url 'aff_site:register' %}">Sign Up for Event</a></p>
    </div>



    <div id="footerbuttons">
        <a href="" style = "color: black;" class="button">About</a>
        <a href="{% url 'aff_site:contacts' %}" style = "color: black;" class="button">Contacts</a>
        <a href="" style = "color: black;" class="button">Help</a>

    </div>
    </div>
    </body>
</html>
-->
