{% extends 'base.html' %}
{% block body_block %}

<div class = "container">
  {% if portal_user %}
      <h4>Thank you for registering!</h4>
      <br>
      <p>We will reach out to you through the email address used to sign up for the service within the next 24 hours with further information.<p> 
  {% else %}

  <br>
  <h3>Please sign up</h3>
  <br>
  <p>Signing up gives you access to our portal where you find the full range of services available.</p>


  <form method="post">
    {% csrf_token %}
      {% for field in PortaluserForm %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
    <!--    {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small> -->
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    <button type="submit">Sign up</button>
  </form>
  {% endif %}
  </div>

{% endblock %}
