

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>All Forecasts Financial</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/aff_site.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/ui-gridmin.css' %}" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-aria.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>


        <script src="{% static 'js/app.js' %}"></script>

    </head>
    <body>


    <div class="main-banner">
        <h1>AFF - All Forecasts Financial</h1>

    </div>

    <br>
    <div class="container">
    <!-- use a tags and css styling for buttons. insert hyperlinks for hrefs -->
    <a href="" class="button">Products</a>
    <a href="" class="button">Services</a>
    <a href="" class="button">Investors</a>
    <a href="{% url 'aff_site:user_login' %}" class="button">Login</a>
    <a href="{% url 'aff_site:signup' %}" class="button">Sign Up</a>

    <br>
    <br>
    <!--
    <button class="button" name="products">Products</button>
    <button class="button" name="services">Services</button>
    <button class="button" name="investors">Investors</button>
    <button class="button" name="login">Login</button>
    -->

    <!--insert links into href -->
    <div class="myleftcolumn">
        <p><a href = "{% url 'aff_site:home' %}">Home</a></p>

        <p><a href = "{% url 'aff_site:overview' %}">AFF Overview</a></p>

        <p><a href = "{% url 'aff_site:register' %}">Sign Up for Event</a></p>

        <p><a href = "{% url 'aff_site:users_report' %}">List of Users</a></p>

        <p><a href = "{% url 'aff_site:portal_landing' %}">User Portal</a></p>
    </div>

    <div class="myrightcolumn">


        <div ng-controller="MainCtrl as $ctrl">
          <div id="grid1" ui-grid="{ data: $ctrl.myData }" class="myGrid"></div>
        </div>


    </div>
    <br>

    <div id="footerbuttons">
        <a href="" style = "color: black;" class="button">About</a>
        <a href="{% url 'aff_site:contacts' %}" style = "color: black;" class="button">Contacts</a>
        <a href="" style = "color: black;" class="button">Help</a>

    </div>
    </div>
    </body>
</html>
