{% extends "aff_site/base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block body_block %}
            {% if registered %}
              <h1>Thank you for registering!</h1>
            {% else %}

              <h3>Register for this event:</h3>
              <small id="textrequired" class="form-text text-muted">
                <span>*</span> indicates required field
              </small>

              <form method = "post">

              {% csrf_token %}

              {% for field in participant_form.visible_fields %}
                <div class="form-row">
                    <div class="col-md-8">

                    {{ field.label_tag}}
                    {{ field }} 
                    {% render_field field class="form-control form-control-sm" %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}

                    </div>
                </div>
              {% endfor %}

              <br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            {% endif %}


{% endblock %}
